@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap");

* {
  box-sizing: border-box;
}
.main {
  padding: 0 2rem;
  font-family: "Manrope", sans-serif;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
}

pre {
  font-family: "Work Sans", sans-serif;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

button {
  padding: 0.5rem 2rem;
  border: none;
  background-color: #d1cebd;
  color: #000000;
  border-radius: 5px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.3);
  outline: none;
  opacity: 1;
}

button:hover {
  opacity: 0.5;
}

/* Search Component */

input[type="text"] {
  background-color: #fff;
  font-size: 1.3rem;
  font-family: inherit;
  border: none;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0rem 2rem;
  width: calc(100% - 2rem);
  height: 4rem;
}

/* Movie List Component */

ul {
  padding: 0;
}
li {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 0.25rem 0.75rem;
  margin: 2px;
  border-radius: 3px;
}
li:hover {
  cursor: pointer;
}
li.Fresh {
  background: #d63447;
  color: #ffffff;
}
li.Fresh:hover {
  background: #ffffff;
  color: #d63447;
}
li.Rotten {
  background: #f57b51;
  color: #000000;
}
li.Rotten:hover {
  background: #ffffff;
  color: #000000;
}
